@font-face {
  font-family: "Raiderfont";
  src: local("Raiderfont"), url(/fonts/Raiderfont.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100vh;
}

.logo {
  font-family: Raiderfont;
}

.logo a,
.menu,
.collection a {
  color: #323330 !important;
  text-decoration: none;
  font-family: Raiderfont;
}

.explore a,
.search a {
  color: #f0db4f;
  text-decoration: none;
}

.menu,
.collection,
.explore,
.search {
  font-size: 0.6rem !important;
}

.info > ul > .fa-instagram {
  color: #fff;
  position: absolute;
  top: 16px !important;
}

ul {
  list-style: none;
}

.left,
.right {
  position: absolute;
  width: 50%;
  height: 100%;
}

.leftP,
.rightP {
  display: none;
}

.left {
  background-color: #f0db4f;
  left: 0%;
  width: 0%;
  z-index: -10 !important;
}

.right {
  background-color: #323330;
  right: 0%;
  width: 100%;
  z-index: -10 !important;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 0 20px;
}

.nav ul li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.5rem;
  font-weight: 600;
  padding: 0 25px;
  /* background-color: yellow; */
}

.logoText {
  transform: translateY(-200%) !important;
}

.nav .logo {
  flex: 1;
  font-size: 1.1rem;
  letter-spacing: 0;
  font-weight: 100;
}

.nav .menu {
  flex: 1;
  font-size: 1.1rem;
}

.nav .collection {
  flex: 1;
}

.nav .explore {
  flex: 1;
}

.nav .search {
  flex: 1;
}

.nav .profile {
  flex: 0;
}

.nav .profile .img {
  background-image: url(/img/nytoprofile.jpg);
  background-position: 50%;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 2px turquoise;
}

.img-wrapper {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-left: 200px;
  margin-top: 1.5% !important;
}
.img-wrapper .momentum {
  background-image: url(/img/Colourrrrrrs2.png);
  background-position: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 0;
}

.info ul li a {
  text-decoration: none;
  color: white;
}

.bottomNav ul li a {
  text-decoration: none;
  color: #fff;
}

.info {
  position: absolute;
  bottom: 0;
  left: 180px;
  background: rgb(0, 0, 0, 0.8);
  padding: 0 10px;
}

.info ul li {
  display: inline-block;
  padding: 20px 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.5rem;
  font-weight: 600;
}

.info i {
  font-size: 1.05rem;
}

.text {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-20%);
}

.text h1 {
  font-size: 100px;
  color: #fff;
  font-family: "Raiderfont";
  text-transform: uppercase;
}

.text p {
  margin-left: 1px !important;
  font-size: 1.2rem;
  color: #fff;
  font-family: Raiderfont;
  text-transform: uppercase;
}

.bottomNav {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.bottomNav ul li {
  text-transform: uppercase;
  letter-spacing: 14px;
  margin-top: 20px;
  font-family: "Raiderfont";
}

.name {
  position: absolute;
  top: 24px;
  transform: translateY(350%);
  font-size: 100px;
  font-family: "Raiderfont";
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

/* Portfolio page */
.work-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-container > h1 {
  position: absolute;
  transform: translateY(-60px);
  z-index: 450;
  font-weight: 900;
  font-size: 100px;
  font-family: Raiderfont, "Montserrat", sans-serif;
  color: #323330;
}

.bigBox {
  /* margin: 15px 60px 0px 60px; */
  margin: 15px 0 0 0;
  width: 94.5%;
  height: 95vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* .bigBox2 {
  background-color: #323330;
  margin: 0 60px 0px 60px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
} */

/* .box1 {
  display: flex;
  width: 300px;
  height: 300px;
  background-color: red;
  background-image: url(/img/nytoprofile.jpg);
  background-size: contain;
  border: 2px solid white;
  margin-top: 40px;
  margin-bottom: 40px;
} */

.work-image {
  width: 50.5%;
  height: 50%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  background-image: url(/img/worksHero.png);
  background-size: cover;
}

.container-reveal {
  height: 50%;
  width: 50%;
  background: #a4d8d8;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 400;
}

/* ScrollDown */
.scroll-downs {
  display: flex;
  margin: auto;
  width: 34px;
  height: 55px;
  transform: translateY(-115px);
  position: fixed;
  margin-left: 10px;
  opacity: 0.7;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 30px;
  border: 2px solid black;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: black;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
/* ScrollDown */

.navPortfolio {
  background-color: #fff;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #ff6961;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2000 !important;
  pointer-events: none;
}

.portfolio-container {
  margin: 1rem 3rem 1rem 3rem;
  display: grid;
  grid-auto-rows: 396px;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 1rem;
}

.boxes {
  grid-column: span 1;
  background-size: 100%;
  background-repeat: no-repeat;
}

.box1 {
  background-image: url(/img/portfolio-images/porton1newproyect.jpg);
}

.box2 {
  background-image: url(/img/portfolio-images/77884.jpg);
}

.box3 {
  background-image: url(/img/portfolio-images/Dividir.jpg);
}
.box4 {
  background-image: url(/img/portfolio-images/rixmilah_Mesa\ de\ trabajo\ 1\ copia\ 2.jpg);
}

.box5 {
  background-image: url(/img/portfolio-images/300.jpg);
}

.box6 {
  background-image: url(/img/portfolio-images/dos.jpg);
}
.box7 {
  background-image: url(/img/portfolio-images/rixmilah_Mesa\ de\ trabajo\ 1.jpg);
}
.box8 {
  background-image: url(/img/portfolio-images/pascofishempaque.jpg);
}
.box9 {
  display: none;
}

.footer-container {
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
  width: 100%;
  background-color: transparent;
}

.footer > a {
  color: #323330;
  font-size: 0.6rem;
  font-family: "Raiderfont";
  font-weight: lighter;
  text-decoration: none !important;
}

.footer h1 {
  color: #323330;
  font-size: 1rem;
  font-family: "Raiderfont";
  font-weight: lighter;
  text-transform: uppercase;
}

.footer h2 {
  color: #323330;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  margin-top: 5px;
  text-transform: uppercase;
}

.foo-icons > a > i {
  color: #323330;
  font-size: 1.5rem;
  margin: 0.5rem 0.7rem 0 0.7rem;
}
hr {
  background-color: #a4d8d8;
  margin: 0 6rem 0 6rem;
}

.copyright-container {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.copyright {
  text-align: center;
  width: 100%;
  background-color: transparent;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: "Raiderfont";
  color: #323330;
  margin-top: 1rem;
}

/* Portfolio page */

/* Media Querys 
 ---------------------------------------------- */
/* Smartphones */
/* Android */
@media (min-width: 380px) and (max-width: 720px) {
  .menu,
  .collection,
  .explore,
  .search {
    font-size: 0.3rem !important;
  }

  a {
    -webkit-tap-highlight-color: transparent;
  }

  .logoText {
    margin-left: 20px !important;
    font-weight: lighter;
    font-family: "Raiderfont", Montserrat, Montserrat !important;
    font-weight: 500 !important;
    letter-spacing: 0;
    transform: translateY(-100%) !important;
  }

  body {
    width: 100%;
    height: 100%;
    background-color: #fff !important;
  }

  .left,
  .right {
    display: flex;
    width: 50%;
    height: 100%;
    z-index: -1;
  }

  .left {
    display: flex !important;
    justify-content: center !important;
    background-color: #f0db4f;
    left: 0%;
    width: 0%;
  }

  .right {
    background-color: #f8f8f8;
    right: 0%;
    width: 100%;
  }

  .leftP,
  .rightP {
    display: none !important;
  }

  .img-wrapper {
    position: absolute;
    display: none;
    bottom: 0;
    left: 165px;
    display: none !important;
  }

  .img-wrapper .momentum {
    background-image: url(/img/Colores2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20%;
    height: 500px;
    width: 0;
    display: none;
  }

  .nav ul li {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.5rem;
    font-weight: 600;
    padding: 0;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 0;
  }

  .navPortfolio {
    background-color: #f8f8f8 !important;
  }
  .menu,
  .collection,
  .explore,
  .search {
    display: none !important;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 180px;
    background: rgb(0, 0, 0, 0.8);
    padding: 0;
    display: none;
    display: none;
  }

  .info ul li {
    display: none;
  }

  .text {
    display: flex;
    align-self: center;
    justify-content: center;
    right: 0;
    width: 100%;
    height: 15%;
  }

  .text h1 {
    align-self: center !important;
    justify-content: center !important;
    font-weight: 800;
    font-size: 45px !important;
    color: #323330 !important;
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  .text p {
    display: flex;
    position: absolute;
    top: 100%;
    right: 30px;
    font-size: 1rem;
    color: #323330;
    font-family: Raiderfont;
  }
  .nav .profile .img {
    background-image: url(/img/nytoprofile.jpg);
    background-position: 50%;
    background-size: cover;
    margin-right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 2px turquoise;
    display: none;
  }

  .name {
    display: flex !important;
    justify-content: flex-start !important;
    position: absolute;
    font-size: 40px !important;
    font-family: "Raiderfont";
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }

  .subtext {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    display: none;
  }

  .subtext h2 {
    justify-content: center;
  }

  .bottomNav {
    position: absolute;
    bottom: 100px;
    right: 30px;
  }

  .bottomNav ul li a {
    color: #323330 !important;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.8rem;
    font-family: "Raiderfont";
  }

  .bigBox {
    margin: 0;
    height: 89vh;
    width: 100%;
    background-color: rgb(248, 248, 248);
  }

  .bigBox2 {
    margin: 0;
  }

  .container-reveal {
    height: 55%;
    width: 53%;
    background: #a4d8d8;
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .work-container > h1 {
    position: absolute;
    transform: translateX(0px);
    transform: translateY(-120px);
    z-index: 450;
    font-weight: 900;
    font-size: 80px;
    font-family: "Raiderfont";
  }

  .work-image {
    height: 55%;
    background-image: url(/img/131f2f6302aa91c3a3a827bf6200ea6b.jpg);
    background-color: transparent;
  }

  .mousey {
    display: none;
  }

  .portfolio-container {
    margin: 0 0 0 0;
    display: grid;
    grid-auto-rows: 396px;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 0;
  }

  .boxes {
    grid-column: span 2;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .footer-container {
    margin: 0;
    flex-wrap: wrap;
    background-color: #323330;
  }
  .footer {
    padding-top: 2rem;
  }
  .foo-icons a > i {
    margin-top: 1rem;
    color: #fff;
    padding-bottom: 2rem;
  }
  .footer > a > h1 {
    color: #fff !important;
  }

  .footer h1 {
    color: #fff;
  }

  .footer h2,
  .copyright {
    color: #fff;
  }

  .copyright {
    margin-top: 1rem;
  }

  hr {
    background-color: #a4d8d8;
    margin: 0 2rem 0 2rem;
  }

  .copyright-container {
    background-color: #323330;
    flex-wrap: wrap;
  }

  #footer {
    background-color: #323330;
  }
}

/* Iphone X-XR */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .portfolio-container {
    margin: 0 0 0 0;
    gap: 0;
  }

  .menu,
  .collection,
  .explore,
  .search {
    font-size: 0.3rem !important;
  }

  a {
    -webkit-tap-highlight-color: transparent;
  }

  .logoText {
    margin-left: 20px !important;
    font-weight: lighter;
    font-family: "Raiderfont", Montserrat, Montserrat !important;
    font-weight: 500 !important;
    letter-spacing: 0;
    transform: translateY(-100%) !important;
  }

  body {
    width: 100%;
    height: 100%;
    background-color: #fff !important;
  }

  .left,
  .right {
    display: flex;
    width: 50%;
    height: 100%;
    z-index: -1;
  }

  .left {
    display: flex !important;
    justify-content: center !important;
    background-color: #f0db4f;
    left: 0%;
    width: 0%;
  }

  .right {
    background-color: #f8f8f8;
    right: 0%;
    width: 100%;
  }

  .leftP,
  .rightP {
    display: none !important;
  }

  .img-wrapper {
    position: absolute;
    display: none;
    bottom: 0;
    left: 165px;
    display: none !important;
  }

  .img-wrapper .momentum {
    background-image: url(/img/Colores2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20%;
    height: 500px;
    width: 0;
    display: none;
  }

  .nav ul li {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.5rem;
    font-weight: 600;
    padding: 0;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 0;
  }

  .navPortfolio {
    background-color: #f8f8f8 !important;
  }
  .menu,
  .collection,
  .explore,
  .search {
    display: none !important;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 180px;
    background: rgb(0, 0, 0, 0.8);
    padding: 0;
    display: none;
    display: none;
  }

  .info ul li {
    display: none;
  }

  .text {
    display: flex;
    align-self: center;
    justify-content: center;
    right: 0;
    width: 100%;
    height: 15%;
  }

  .text h1 {
    align-self: center !important;
    justify-content: center !important;
    font-weight: 800;
    font-size: 45px !important;
    color: #323330 !important;
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  .text p {
    display: flex;
    position: absolute;
    top: 100%;
    right: 30px;
    font-size: 1rem;
    color: #323330;
    font-family: Raiderfont;
  }
  .nav .profile .img {
    background-image: url(/img/nytoprofile.jpg);
    background-position: 50%;
    background-size: cover;
    margin-right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 2px turquoise;
    display: none;
  }

  .name {
    display: flex !important;
    justify-content: flex-start !important;
    position: absolute;
    font-size: 40px !important;
    font-family: "Raiderfont";
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }

  .subtext {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    display: none;
  }

  .subtext h2 {
    justify-content: center;
  }

  .bottomNav {
    position: absolute;
    bottom: 100px;
    right: 30px;
  }

  .bottomNav ul li a {
    color: #323330 !important;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.8rem;
    font-family: "Raiderfont";
  }

  .bigBox {
    margin: 0;
    height: 89vh;
    width: 100%;
    background-color: rgb(248, 248, 248);
  }

  .bigBox2 {
    margin: 0;
  }

  .container-reveal {
    height: 55%;
    width: 53%;
    background: #a4d8d8;
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .work-container > h1 {
    position: absolute;
    transform: translateX(0px);
    transform: translateY(-120px);
    z-index: 450;
    font-weight: 900;
    font-size: 80px;
    font-family: "Raiderfont";
  }

  .work-image {
    height: 55%;
    background-image: url(/img/131f2f6302aa91c3a3a827bf6200ea6b.jpg);
    background-color: transparent;
  }

  .mousey {
    display: none;
  }

  .footer-container {
    margin: 0;
    flex-wrap: wrap;
  }

  .footer-container {
    background-color: #323330;
  }
  .footer {
    padding-top: 2rem;
  }
  .foo-icons a > i {
    margin-top: 1rem;
    color: #fff;
    padding-bottom: 2rem;
  }
  .footer > a > h1 {
    color: #fff !important;
  }

  .footer h1 {
    color: #fff;
  }

  .footer h2,
  .copyright {
    color: #fff;
  }

  .copyright {
    margin-top: 1rem;
  }

  hr {
    background-color: #a4d8d8;
    margin: 0 2rem 0 2rem;
  }

  .copyright-container {
    background-color: #323330;
    flex-wrap: wrap;
  }

  #footer {
    background-color: #323330;
  }
}

/* Medium Screns */
@media (min-width: 1360px) and (max-width: 1366px) {
  .portfolio-container {
    margin: 1rem 2.3rem 1rem 2.3rem;
    display: grid;
    grid-auto-rows: 600px;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 1rem;
  }

  .boxes {
    grid-column: span 1;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .box9 {
    background-color: red;
  }

  .box .img-wrapper {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 10px !important;
    margin-left: 200px !important;
  }
  .momentum {
    background-image: url(/img/Colourrrrrrs4.png) !important;
    background-repeat: no-repeat;
    height: 570px !important;
  }

  .text h1 {
    margin-right: 0px;
    font-size: 58px !important;
    color: #fff;
    text-transform: uppercase;
  }
  .name {
    top: 440px !important;
    position: absolute;
    font-size: 58px !important;
    font-family: "Raiderfont";
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    transform: translateY(-220%) !important;
  }
}
/* Medium-Large Screens */
@media (min-width: 1600px) and (max-width: 1600px) {
  .img-wrapper {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-left: 200px;
    margin-top: 3.5% !important;
  }
  .img-wrapper .momentum {
    background-image: url(/img/Colores2.png);
    background-position: cover;
    background-repeat: no-repeat;
    height: 500px;
  }

  .text h1 {
    margin-top: 40px;
    font-size: 55px !important;
    color: #fff;
    text-transform: uppercase;
  }

  .name {
    position: absolute;
    font-size: 65px;
    font-family: "Raiderfont";
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
}
